choreographer==1.1.1
iniconfig==2.1.0
kaleido==1.1.0
logistro==1.1.0
narwhals==2.5.0
orjson==3.11.3
packaging==25.0
plotly==6.3.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
pytest-timeout==2.4.0
simplejson==3.20.1
